 body{
     background-color: #c5c6c7;
     
 }
 @font-face {
     font-family:ong đo;
     
     src: url('fontheader/thuphap/TMC-Ong\ Do.TTF');
 }
 @font-face {
     font-family:roboto;
    
     src: url('fontheader/roboto/Roboto-BoldItalic.ttf');
 }
 .page-header{
      background-color: #950740;
 }
 .logoBinh{
    font-family: ong đo;
    text-align: center;
    font-size: 100px;
   
 }
 .an{
     font-size: 25px;;
     font-family: roboto;
     text-align: center;
 }
 *{
    box-sizing: border-box;
}
.itemss{
    overflow:hidden;
}
.itemss img{
    width: 100%;
    transition: 5s all;
    transform: scale(1) ;
    
}
.itemss:hover img{
    transform: scale(2);
}
